<div class="container">
  <h2 class="text-center my-4">Lista de Productos</h2>
  <ul class="list-group">
    {{#each products}}
      <li class="list-group-item">
        <h3>{{title}}</h3>
        <p>ID: {{id}}</p>
        <p>{{description}}</p>
        <p>Precio: {{price}}</p>
        <p>Código: {{code}}</p>
        <p>Stock: {{stock}}</p>
        <p>Categoría: {{category}}</p>
        <a href="{{thumbnail}}">Product's Image</a>
      </li>
    {{/each}}
  </ul>
</div>