<!-- Dynamic List -->
<div id="productList">
  <div class="row">
    <div class="col-md-8">
      <table class="table table-light">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Precio</th>
            <th scope="col">Codigo</th>
            <th scope="col">Stock</th>
            <th scope="col">Categoria</th>
            <th scope="col">Foto</th>
            <th scope="col">Borrar</th>
          </tr>
        </thead>
        <tbody class="productListUpdated">
          {{#each products}}
            <tr>
              <th scope="row">{{this.id}}</th>
              <td>{{this.title}}</td>
              <td>{{this.description}}</td>
              <td>{{this.price}}</td>
              <td>{{this.code}}</td>
              <td>{{this.stock}}</td>
              <td>{{this.category}}</td>
              <td><img
                  src={{this.thumbnail}}
                  alt={{this.id}}
                  title="Foto de {{this.title}}"
                  style="width: 50px; min-height: 100%; max-height: 50px;"
                /></td>
              <td>
                <button
                  type="button"
                  class="btn btn-danger"
                  onclick="deleteProduct({{this.id}})"
                >X</button>
              </td>
            </tr>

          {{/each}}
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <h2 class="text-center my-4">Añadir Nuevo Producto</h2>
      <form id="form-products" style="margin: auto">
        <div style="margin-bottom: 16px">

          <div class="col-md-auto mx-3">
            <label for="title"> Titulo: </label>
            <br />
            <input
              type="text"
              name="title"
              id="form-title"
              style="margin-bottom: 16px"
              class="form-control"
              placeholder="Agregar un titulo al producto"
            />
          </div>

          <div class="col-md-auto mx-3">
            <label for="description"> Descripción: </label>
            <br />
            <input
              type="text"
              name="description"
              id="form-description"
              style="margin-bottom: 16px"
              class="form-control"
              placeholder="Agregar un descripción al producto"
            />
          </div>

          <div class="col-md-auto mx-3">
            <label for="price"> Precio: </label>
            <br />
            <input
              type="number"
              name="price"
              id="form-price"
              style="margin-bottom: 16px"
              step="1"
              class="form-control"
              placeholder="Agregar un precio al producto"
            />
          </div>

          <div class="col-md-auto mx-3">
            <label for="code"> Código: </label>
            <br />
            <input
              type="text"
              name="code"
              id="form-code"
              style="margin-bottom: 16px"
              class="form-control"
              placeholder="Agregar un código al producto"
            />
          </div>

          <div class="col-md-auto mx-3">
            <label for="stock"> Stock: </label>
            <br />
            <input
              type="number"
              name="stock"
              id="form-stock"
              style="margin-bottom: 16px"
              step="1"
              class="form-control"
              placeholder="Agregar stock al producto"
            />
          </div>

          <div class="col-md-auto mx-3">
            <label for="category"> Categoria: </label>
            <br />
            <input
              type="text"
              name="category"
              id="form-category"
              style="margin-bottom: 16px"
              class="form-control"
              placeholder="Agregar una categoria al producto"
            />
          </div>

          <div class="col-md-auto mx-3">
            <label for="thumbnail"> URL de la Imagen: </label>
            <br />
            <input
              type="text"
              name="thumbnail"
              id="form-thumbnail"
              style="margin-bottom: 16px"
              class="form-control"
              placeholder="Agregar una URL valida"
            />
          </div>
          <div
            style="display: flex; justify-content: center; align-items: center"
          >
            <input
              type="submit"
              value="Crear producto"
              class="btn btn-primary"
            />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script
  src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"
></script>
<script src="/socket.io/socket.io.js"></script>
<script src="public/js/index.js"></script>